#
# Configuration file for trailKM.py
#

# To do:
# Rename config.example to config.ini and replace the <YOUR_API_KEY> and <YOUR_PROJECT> with your own

[Log]
File=trailKM.log
# Existing logging levels: CRITICAL, ERROR, WARNING, INFO, DEBUG, NOTSET
Level=DEBUG

# Only relevant if Execute=Delay
# Time unit: second
[Wait]
Min=1
Max=3

[Action]
Execute=Delay               
# Possible selection: Delay (recommended) or Now


# Mandatory: Add here the Outdooractive API. 
# Before usage, read the quidelines: http://developers.outdooractive.com/Overview/Guidelines.html
# and Outdooractive Terms and Conditions that are described in the Guidelines.
[[Interface]
OUTDOORACTIVE_PROJECT=<YOUR_PROJECT>
OUTDOORACTIVE_API==<YOUR_API_KEY>
# Filter for Areas (Region) in your map
OUTDOORACTIVE_REGION=<YOUR_REGION> # if you set Region to 0, the API call will return return all objects you have access to via API

# For trailKM_supabase you have to fill out the SUPABASE parameters too
SUPABASE_URL = 'YOUR_SUPABASE_URL'
SUPABASE_KEY = 'YOUR_SUPABASE_KEY'

